FER/
models/
venv/
__pycache__/
*.pyc


models/*.keras
FER/
evaluation_results/
evaluation_results/
.idea/
.vscode/

# Modelli TFLite convertiti e SavedModel intermedi
tflite_models/

# Risultati valutazione TFLite
tflite_evaluation/
